version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns: ["*"]
  - package-ecosystem: npm
    directories:
      - "/"
      - "apps/*"
      - "packages/*"
      - "utils/*"
      - "docs/"
    schedule:
      interval: "weekly"
    groups:
      npm:
        patterns: ["*"]
