name: Pull Request

on:
  pull_request:

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version-file: package.json
          cache: "pnpm"
      - name: NX cache
        uses: actions/cache@v4
        with:
          path: .nx
          key: ${{ runner.os }}-nx

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build & Test
        run: npx nx run-many -t test build
      - name: Lint
        run: pnpm run lint
